@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
/* /////////// Font-Sizes ////////// */
/* 

16 = 1rem

22 = 1.375rem 

24 = 1.5rem

36 = 2.25rem

44 = 2.75rem

48 = 3rem


---------# COLOROS #--------

like red - #BF0830;
like blue - #1A2578;
like grey - #484C63;

*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    width: 90%;
    margin: 0 auto;
    
}

.background-section-header {
    background: linear-gradient(252.91deg, #E3E7F6 3.68%, rgba(227, 231, 246, 0) 97.82%);

}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
    
}

ul {
    display: flex;
    gap: 2rem;
    align-items: center;
}

/* both-side */

.both-side {
    display: flex;
    align-items: center;
    gap: 5rem;
    justify-content: center;
}

.right-side-img {
    width: 36rem;
    height: auto;
}


#hamburger-icon div {
    width: 35px;
    height: 3px;
    background-color: #000;
    margin: 6px 0;
    transition: 0.4s;
   
}
  
.open .bar1 {
    -webkit-transform: rotate(-45deg) translate(-6px, 6px);
    transform: rotate(-45deg) translate(-6px, 6px);
    
}
  
  .open .bar2 {
    opacity: 0;
  }
  
.open .bar3 {
    -webkit-transform: rotate(45deg) translate(-6px, -8px);
    transform: rotate(45deg) translate(-6px, -8px);
}
  
.open .mobile-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(7px);
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
}
  
  
.open .mobile-menu .last-link {
      background-color: #F2F8EB;
} 
  
.open .mobile-menu .last-link .color {
      color: #BF0830;
}
.mobile-menu {
    display: none;
    position: absolute;
    top: 50px;
    left: 0;
    height: calc(100vh - 50px);
    width: 100%;
    flex-direction: column;
  
    background-color: rgba(255, 255, 255, 0.6);
    
}

.both-side {
    display: flex;
    align-items: center;
    gap: 5rem;
    justify-content: center;
}

.right-side-img {
    width: 36rem;
    height: auto;
}

/* text decoration */

.we-build {
    color: #1A2578;
    font-size: 2.20rem;
    margin-bottom: 1rem;
    line-height: 40px;
}

.our {
    color: #484C63;
    margin-top: 1rem;
    line-height: 20px;
}

.hero {
    display: flex;
    justify-content: center;
    width: 90%;
    margin: 0 auto;
    margin-top: 5rem;
    gap: 1rem;
    border-radius: 8px;
}
 

 
.cookie {
    margin-top: 1rem;
    color: #3A3A3C;
}

.cookie-cta {
    margin-top: 1rem;
    color: #3A3A3C;
}


/* ----------#HERO CTA#-------- */

.hero-cta {
    
    margin-top: 4rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2.5rem;
}

/* .creators {
    color: #1A2578;
    font-size: 2.2rem;
}

.product {
    color: #484C63;
    line-height: 25px;
} */
